<div class="outer-wrapper">
  <div class="wrapper">
      <div class="row">
          <div class="col-xs-6 col-md-4">
              <div class="card">
                <%= form_tag contacts_path, method: :get do %>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <%= label_tag :query, "Search for: "%>
                          <%= text_field_tag :query, params[:query], class: 'form-control', placeholder: "Search Contacts"%>
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="form-group">
                          <br>
                          <%= submit_tag "Search", class: "btn btn-default btn-block btn-lg" %>
                        </div>
                      </div>
                    </div>
                  <% end %>

                  <% if @contacts.empty? %>
                  <div class="alert alert-info">
                    No Contacts Found
                  </div>
                <% end %>
                <h3>Lists</h3>
                <%= link_to "Add List", new_list_path %>
                <h3>Contacts</h3>
                <%= link_to "Add Contact", new_contact_path %>
              </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-8">
              <div class="card">
                <table class="table">
                    <thead>
                        <tr>
                            <th>List ID</th>
                            <th>List Name</th>
                            <th>Description</th>
                            <th>Link</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @lists.each do |list|%>
                        <tr>
                            <td> <%=list.id%></td>
                            <td> <%=list.list_name%>  </td>
                            <td> <%=list.description%>  </td>
                            <td> <%=link_to 'More ', list_path(id: list.id)%> </td>
                            <td> <%=link_to 'Edit ', edit_list_path(id: list.id)%> </td>
                        </tr>
                        <%end%>
                    </tr>
                </tbody>
            </table>
            <%= will_paginate @lists%>



            <table class="table">
                <thead>
                    <tr>
                        <th>Contact ID</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Email</th>
                        <th>Link</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <% @contacts.each do |contact|%>
                    <tr>
                        <td> <%=contact.id%></td>
                        <td> <%=contact.last_name%>  </td>
                        <td> <%=contact.first_name%>  </td>
                        <td> <%=contact.email%>  </td>
                        <td> <%=link_to 'Detail', contact_path(id: contact.id)%> </td>
                        <td> <%=link_to 'Update', edit_contact_path(id: contact.id)%> </td>

                    </tr>
                    <%end%>
                </tr>
            </tbody>
        </table>
        <%= will_paginate @contacts%>


            </div>
          </div>
      </div>
    </div>
</div>
