<div class="container">
  <h1>Upcoming Events</h1>
  <br>
  <% fetch_meetups_worth_going.each do |meetup| %>
  <div class="card">
    <h2><%= link_to meetup.name, meetup.event_url %></h2>
    <h4><%= meetup.group.name %></h4>
    <h5><%= Time.at(meetup.time/1000).strftime('%a, %b %d - %l:%M%p') %> @ <% if meetup.venue.nil? %> <%= "TBD" %> <% else %> <%= meetup.venue.name %><% end %></h5>
    <br>
  </div>


  <% end %>

</div>
